# === API Server===
fastapi
uvicorn[standard]

# === Database (SQLAlchemy) & Driver ===
sqlalchemy
psycopg2-binary

# === ETL & Data Processing ===
pandas
requests

# === Machine Learning ===
scikit-learn